
<div>
  <h2>{{book.title}}</h2>

  <img src="{{book.cover}}" alt="img" width="200px">

  <p>{{book.description}}</p>
  {{#each book.author}}
    <p>{{this.name}} de {{this.country}}</p>
  {{/each}}

  <a href="/books/{{book._id}}/edit">
    <button class="btn btn-warning">Actualizar</button>
  </a>

  <form action="/books/{{book._id}}/delete" method="POST">
    <button class="btn btn-danger">Borrar</button>
  </form>

</div>