
<h1>Editar un libro</h1>

<form action="/books/{{book._id}}/edit" method="POST">

  <label for="title">Title:</label>
  <input type="text" name="title" value="{{book.title}}">
  
  <br>
  <label for="description">Description:</label>
  <input type="text" name="description" value="{{book.description}}">
  <br>
  <label for="author">Author:</label>

  <select name="author" multiple="true">


    {{#each allAuthors}}

      <option value="{{this._id}}">{{this.name}}</option>

    {{/each}}

  </select>

  {{!-- <input type="text" name="author" value="{{book.author}}"> --}}
  <br>
  <button type="submit">Actualizar</button>

</form>


<form action="/books/{{book._id}}/delete" method="POST">
  <button>Borrar desde form de edit</button>
</form>


<h3>Agrega cubierta al libro</h3>

<form action="/upload/book-cover/{{book._id}}" method="POST" enctype="multipart/form-data">

  <label for="image">Imagen:</label>
  <input type="file" name="image">

  <button type="submit">Añadir Imagen</button>

</form>